$primaryColor: #FF7878;
$secondaryColor: #FF7878;
$accentColor: #FF7878;

$buttonHover: #F9E0E2;

$white: #FFFFFF;
$black: rgb(0, 0, 0);

$textWithBackgroundColor: #F5F5DC;

$spotifyGreen: #1db954;
$grey: #808080;
