@import '../shared/settings.scss';

.brands-section {
  padding: 0 20px 80px;

  .heading {
    @include fontScale(6);
    @include fontWeightScale(3);
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
  }
  
  @media (min-width: $tabletSm) { padding: 0 80px 80px; }
}
