@import '../shared/settings.scss';

.event {
  padding: 0 80px 80px;

  .event-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;

    .event-image, .text { margin-bottom: 40px; }

    .text { align-self: center; }

    .event-image { height: 528px; }
  }

  h2 {
    @include fontScale(5);
    @include fontWeightScale(3);
  }

  strong {
    @include fontScale(3);
    @include fontWeightScale(3);
  }

  p {
    @include fontScale(2);
    margin-bottom: 20px;
  }

  ul { list-style-type: disc; }

  .sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  @media (min-width: $tabletLg) {

    .sections .section { width: 45%; }

    .event-heading .event-image, .text {
      margin-bottom: 0;
      width: 45%;
    }
  }

  @media (min-width: $desktopMd) {

    .event-heading {
      margin: 0 auto 40px;
      gap: 70px;
      width: 76%;
    }

    .sections {
      margin-left: 230px;
      gap: 70px;
      width: 70%;
    }
  }
}
