@import '../shared/settings.scss';

.page-unavailable {
  margin-bottom: 80px;

  h1, p, a {
    color: $textWithBackgroundColor;
    text-align: center;
  }

  .description {
    width: 700px;

    p { @include fontScale(6); }

    h1, p { margin-bottom: 40px; }

    .socials {
      display: flex;
      justify-content: center;

      svg {
        fill: $textWithBackgroundColor;
        height: 50px;
        width: 50px;
      }
    }

  }

  @media (min-width: $tabletMd) {

    .description .socials svg {
      height: 70px;
      width: 70px;
    }
  }

  @media (min-width: $tabletLg) {

    .description .socials svg {
      height: 100px;
      width: 100px;
    }
  }
}
