@import '../shared/settings.scss';

.cover {
  margin: 0 20px;

  .heading {
    margin: 80px auto;

    h5 {
      @include fontWeightScale(3);
      color: $primaryColor;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase;
    }

    .base-heading {
      @include fontScale(7);
      margin-top: 15px;
      text-transform: capitalize;
    }
  }

  @media (min-width: $tabletMd) {  margin: 0 80px; }

  @media (min-width: $tabletLg) {

    .heading { width: 450px; }
  }
}

.contents {
  border-top: 2px solid $primaryColor;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px 80px;
  padding-top: 100px;

  .spotlight {
    border-bottom: 2px solid $primaryColor;
    margin-bottom: 80px;
    padding-bottom: 40px;
  }

  .base-heading {
    margin-top: 0;
    text-align: left;
  }

  h2 {
    @include fontScale(4);
    @include fontWeightScale(3);
    color: $primaryColor;
    margin-bottom: 40px;
  }

  .sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .section {
      margin-bottom: 40px;


      p {
        @include fontScale(2);

        &:not(:last-of-type) { margin-bottom: 20px; }
      }
    }
  }

  @media (min-width: $tabletMd) {
    margin-left: 80px;
    margin-right: 80px;

    .sections .section { width: 45%; }
  }

  @media (min-width: $desktopMd) {

    .spotlight, .sections { width: 45%; }

    .spotlight {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
