@import './shared/settings.scss';

.about-us {
  color: $primaryColor;
  display: flex;
  flex-direction: column-reverse;
  padding: 80px 80px 0;

  .image {

    img {
      transition: transform 1s;
  
      &:hover { transform: scale(1.2); }
    }
  }

  .profile {
    align-self: center;
    margin-bottom: 20px;

    .sub-heading {
      @include fontWeightScale(3);
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .sub-heading, .heading { text-align: center; }

    .heading { margin-bottom: 30px; }

    .story { @include fontScale(2); }

    .button-group {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 30px;

      .link-button.contact-button {
        color: $primaryColor;
        background-color: $buttonHover;
    
        &:hover {
          background-color: $primaryColor;
          color: $white;
        }
      }
    }
  }

  @media (min-width: $desktopLg) {
    flex-direction: row;
    justify-content: center;
    padding: 80px 164px 0;

    .image { margin-right: 100px; }

    .profile, .image { width: 717px; }

    .profile {
      margin-bottom: 0;

      .sub-heading, .heading { text-align: left; }

      .story { @include fontScale(3); }
    }
  }
}
