@import './shared/settings.scss';

.definition {
  color: $primaryColor;
  display: flex;
  flex-direction: column;
  padding: 80px 80px 0;

  .image {
    margin: 0 auto;
    width: 461px;
  }

  .details {
    align-self: center;
    margin-bottom: 20px;

    .heading, .sub-heading { text-align: center; }

    .sub-heading {
      @include fontWeightScale(3);
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .heading, .eldest-daughter { margin-bottom: 30px; }

    .eldest-daughter, .examples { @include fontScale(2); }
    
    .examples {
      list-style: decimal;
      margin-left: 50px;
    }

    .button-group {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 60px;

      .link-button.events-button {
        color: $primaryColor;
        background-color: $buttonHover;
    
        &:hover {
          background-color: $primaryColor;
          color: $white;
        }
      }
    }
  }

  @media (min-width: $desktopLg) {
    flex-direction: row;
    justify-content: center;
    padding: 80px 164px 0;

    .image { margin: 0; }

    .details {
      margin-bottom: 0;
      margin-right: 100px;
      width: 717px;

      .heading, .sub-heading { text-align: left; }

      .eldest-daughter, .examples { @include fontScale(3); }
    }
  }
}
