@import './shared/settings.scss';

.mission {
  margin-bottom: 50px;

  svg {
    fill: $primaryColor;
    height: 40px;
    width: 40px;
  }

  .question, .answer { color: $primaryColor; }

  .question {

    h1 {
      margin: 0 auto;
      width: 56%;
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    .answers {
      padding-top: 40px;
      width: 56%;
  
      .answer {
        @include fontWeightScale(3);
        @include fontScale(4);
        cursor: grab;
        height: 200px;
  
        &::first-letter { text-transform: uppercase; }
      }
    }
  }

  @media (min-width: $desktopLg) {
    display: flex;
    padding: 0 200px;
    justify-content: space-between;

    .question {
      width: 700px;

      h1 {
        margin: 0;
        width: 460px;
      }
    }

    .section {
      display: block;
      margin-top: 0;

      .answers {
        width: 630px;
        padding-top: 0;
        padding-left: 96px;

        .answer {
          @include fontScale(6);
          text-align: left;
        }
      }
    }
  }

  @media (min-width: desktopXLg) {
    padding: 0 315px;
  }
}
