@import './shared/settings.scss';

.trustees {
  margin: 50px 0;
  padding: 0 20px;

  .text, .heading {
    color: $primaryColor;
    text-align: center;
  }

  .text {
    @include fontWeightScale(3);
    @include fontScale(2);
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;

    .trustee {
      width: 100%;
      position: relative;

      img {
        transition: transform 1s;
        transform: scale(1);
      }

      &:hover img {
        transition: transform 1s;
        transform: scale(1.2);
      }

      .trustee-image { height: 620px; }
  
      .name-plate {
        align-items: center;
        display: none;
        background-color: $primaryColor;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        min-height: 620px;
        width: 100%;
        z-index: 2;

        h2, p { color: $white; }

        p { @include fontWeightScale(1); }

        h2 {
          @include fontWeightScale(3);
          text-transform: uppercase;
          letter-spacing: 2px;
          margin: 20px 0;
        }
  
        &.display {
          animation: fadeIn 2s;
          display: flex;

          h2, p { animation: expand 1.5s; }
        }
      }
    }
  }

  @media (min-width: $tabletSm) {
    padding: 0 80px;

    .image-container {

      .trustee, .name-plate { width: 50%; }
    }
  }

  @media (min-width: $tabletLg) {

    .image-container {

      .trustee, .name-plate { width: 25%; }
    }
  }

  @media (min-width: $desktopLg) { margin: 200px 0; }

  @media (min-width: $desktopXLg) {

    .image-container {

      .trustee, .name-plate { width: 470px; }
    }
  }

  @keyframes expand {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}
