@import './shared/settings.scss';

.trustees {
  margin-top: 200px;
  margin-bottom: 200px;

  .text, .heading {
    color: $primaryColor;
    text-align: center;
  }

  .text {
    @include fontWeightScale(3);
    @include fontScale(2);
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .image-container {
    margin-top: 80px;

    .trustee-image {
      min-height: 620px;
      width: 470px;
    }
  }
}
