@import '../shared/settings.scss';

.newsletter {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;

  .description {
    color: $primaryColor;
    margin-bottom: 20px;
  }

  @media (min-width: $tabletSm) {
    text-align: left;
    width: 250px;
  }

  @media (min-width: $tabletLg) { margin-bottom: 0; }

  @media (min-width: $desktopXLg) { width: 20%; }
}
