@import '../shared/settings.scss';

.newsletter {

  .description {
    color: $primaryColor;
    margin-bottom: 20px;
  }

  .form {
    margin-bottom: 20px;

    input {
      height: 30px;
      width: 100%;
      padding: 10px;
      border: 0;
      border-bottom: 1px solid $primaryColor;
      outline-style: none;

      &:focus {
        border: 0.5px solid #e5e5e5;
        border-bottom: 1px solid $primaryColor;
      }

      &::placeholder { color: $primaryColor; }
    }
  }
}
