@import '../shared/settings.scss';

.quick-links {
  align-items: center;
  width: 250px;

  ul {

    .link-item {

      &:not(:last-of-type) { padding-bottom: 7px; }

      a {
        color: $primaryColor;
        text-decoration: none;
      }
    }
  }

  @media (min-width: $desktopXLg) {
    width: 400px;
  }
}
