@import '../shared/settings.scss';

.button {
  padding: 18px;
  border: 1px solid $primaryColor;
  border-radius: 28px;
  color: $white;

  &:hover { color: $primaryColor; }

  &.link-button {
    @include fontScale(2);
    background-color: $primaryColor;

    &:hover {
      background-color: $buttonHover;
    }
  }

  &.basic-button {
    @include fontScale(2);
    color: $primaryColor;
    background-color: $white;

    &:hover {
      background-color: $primaryColor;
      color: $white;
    }
  }
}
