@import '../shared//settings.scss';

.header {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0 100px;
  position: sticky;
  top: 0;
  z-index: 5;

  .logo {
    height: 50px;
    width: 50px;
  }
}
