@import '../shared/settings.scss';

.nav {
  width: 60%;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 55px;
    justify-content: space-between;
    padding: 0;

    .link-item {

      .link {
        color: $primaryColor;
        line-height: 7px;
        text-underline-offset: 5px;
    
        &:hover { text-decoration: underline; }
    
        &:not(.active) { text-decoration: none; }
      }
    }
  }

  @media (min-width: $desktopLg) {

    ul { height: auto; }
  }
}
